{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<h1 class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<div class="wpb_wrapper">
					    <div class="sc_layouts_item sc_layouts_hide_on_mobile">
					        <div id="sc_socials_31218797" class="hide_on_mobile sc_socials sc_socials_default">
					            <div class="socials_wrap">
					            	<a target="_blank" href="#" class="social_item social_item_style_icons social_item_type_icons">
					            		<span class="social_icon social_twitter">
					            			<span class="icon-twitter"></span>
					            		</span>
					            	</a>
					            	<a target="_blank" href="#" class="social_item social_item_style_icons social_item_type_icons">
					            		<span class="social_icon social_facebook">
					            			<span class="icon-facebook"></span>
					            		</span>
					            	</a>
					                <a target="_blank" href="#" class="social_item social_item_style_icons social_item_type_icons">
					                	<span class="social_icon social_gplus"><span class="icon-gplus"></span>
					                	</span>
					                </a>
					            </div>
					        </div>
					    </div>
					</div>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
